body{
    background-image: url('../BackgroundImg4.jpg');
    background-size:100%;
}

.loginbox{
    width: 450px;
    height: 600px;
    background: white;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    overflow: hidden;
}

.avatar{
    width:120px;
    height:120px;
    border-radius: 75%;
    position: absolute;
    top: 0px;
    left: 165px;
}

.buttonbox{
    width: 220px;
    margin: 35px auto;
    top: 100px;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    transition: 0.5s;
}

#btn{
    top: 0px;
    left: 0px;
    position: absolute;
    width: 110px;
    height: 110%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 20px;
    transition: 0.5s;
}

h1{
    position: relative;
    top: 90px;
    text-align: center;
    color: black;
    font-family: sans-serif;
}

.LoginPage p{
    position:relative;
    top: 85px;
    color: black;
    font-family: sans-serif;
}

.LoginPage{
    position:absolute;
    top: 150px;
    left: 50px;
    width: 350px;
    color: black;
}

.LoginInput[type="text"], .LoginInput[type="password"]
{
    position: relative;
    top: 75px;
    border:none;
    border-bottom: 1px solid grey;
    background: transparent;
    outline: none;
    color: black;
    font-size: 16px;
    height:30px;
}

.Loginbtn[type="submit"]
{
    position:relative;
    top:90px;
    width: 100%;
    padding: 10px, 30px;
    border:none;
    outline: none;
    background:red;
    color:whitesmoke;
    height: 40px;
    border-radius:20px;
    font-size:18px;
}

.Loginbtn[type="submit"]:hover{
    cursor:pointer;
    background: #ffc107;
}


#login{
    left:50px;
    transition: 0.5s;
}

#CreateAcc{
    left:450px;
    transition: 0.5s;
}